@import "../../assets/stylesheets/variables.scss";
.card {
  border-radius: 2px;
  position: relative;
  padding: 20px;
  .heading {
    text-align: center;
    padding-bottom: 10px;
    color: $text-color-blue;
  }
  .form-group {
    width: 250px;
    margin-bottom: 30px;
    .form-control {
      height: 45px;
      margin-left: 10px;
    }
  }
  .table {
    background: #fff;
    th, td {
      padding: 10px;
    }
  }
  p {
    color: $text-color-blue;
  }
}
