//TODO: find a way to injest variables into every .scss file inside app
@import "../../assets/stylesheets/variables.scss";

.box {
  background-color: $box-color;
  margin: 0 10px;
  border-radius: 5px;
  label {
    font-size: 14px;
  }
  .banner {
    padding: 120px 0;
    text-align: center;
    color: $text-color-blue;
    text-transform: uppercase;
    h2 {
      margin: 0;
      font-size: 34px;
    }
  }
  .fa {
    width: 50px;
    height: 50px;
    background: $secondary-color;
    color: #fff;
    border-radius: 25px;
    text-align: center;
    line-height: 50px;
    font-size: 1.4rem;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    position: absolute;
    right: 0;
    bottom: -15px;
    &:hover {
      transform: translateY(-15%);
      box-shadow: 0px 15px 10px -10px rgba(0,0,0,0.6);
    }
    &.disabled {
      background-color: lighten($secondary-color, 1%);
      cursor: not-allowed;
    }
  }
  .customer {
    border-radius: 0;
    width: 90%;
    margin: 0 auto;
  }
  p {
    font-size: 18px;
    margin: 0;
    text-align: center;
    padding: 15px 0;
  }
}
