@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
  margin: 0;
  padding: 0;
}

body {
  background: $primary-color;  /* fallback for old browsers */
  font-family: 'Open Sans', sans-serif;
  position: relative;
  color: $text-color;
}
